<html>

<head>
    <%- include('layout/head'); -%>
</head>

<body>

    <body data-new-gr-c-s-check-loaded="14.1026.0" data-gr-ext-installed="">
        <div class="container">
            <%- include('layout/header', categories); -%>
                <main role="main" class="container">
                    <div class="row">
                        <div class="col-md-8 blog-main">
                            <div class="blog-post">
                                <h2 class="blog-post-title">
                                    About Me
                                </h2>

                                <p>
                                    Culpa do ut sit laborum id adipisicing cillum nisi fugiat amet. Enim occaecat elit elit ex sint. Quis ullamco fugiat et
                                    aliquip culpa ut et laboris officia duis pariatur ad culpa enim. Nostrud ullamco irure mollit reprehenderit ipsum
                                    deserunt commodo enim do pariatur eiusmod. Eiusmod elit in quis ex tempor tempor voluptate. Veniam aute nostrud cillum
                                    irure ea duis aliquip laborum labore est.
                                </p>
                            </div>
                        </div><!-- /.blog-main -->

                        <%- include('layout/sidebar'); -%>

                    </div><!-- /.row -->

                </main>

        </div>
        <%- include('layout/footer'); -%>
    </body>
</body>

</html>