<footer class="blog-footer">
    <ul class="nav d-flex w-100 justify-content-center align-items-center" style="padding-bottom: 20px">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
        </li>
    </ul>
    <p>Copyright Mohamad</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>
